@font-face{
    font-family: Dekar-Light;
    src: url('Dekar-Light.ttf');
  
}
*{
    outline: none !important;
    font-family: 'Dekar-Light';
   
}
body{
    background-color: #f1f1f1;
}
h1{
    color: #2ec4b6;
    font-display: block;
    font-size: 40px;
    font-style: unset;
    font-variant: initial;
    overflow: hidden;
    font: outline;
    font-family: 'Dekar-Light';
    margin-bottom: 2px;
    margin-top: -5px;
}
label{
    display: flex;
    margin-top: 5px;
    margin-bottom: -10px;
    color: #2ec4b6;
    font-weight: 900;
    
}
.container{
    align-items: center;
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 3px 0px 11px -2px rgba(0,0,0,0.2);
    display: flex; 
    height: 610px;
    justify-content: center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 400px;

}
input{
    color: #000000;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border:0.5px solid #dbdbdb7a;
    height: 25px;   
    width: 300px;
    padding: 1%;
    transition: ease 0.4s;
    margin-top: -5px;   
}

input:focus{
    border: 0.5px solid #2ec4b6;

}
#btn{
    font-family: Dekar-light;
    color: white;
    background-color: #2ec4b6;
    height: 35px;
    margin-top: 20px;
    width: 100%;
    font-size: 18px;
    font-weight: 1000;
    transition: ease 0.5s;

}

#btn:hover{
    background-color: #1aad9f;
}