.ch-item {
	width: 225px;
	height: 225px;
	border-radius: 75%;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
		
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.ch-img-1 { 
	background-image: url('../Fotos/Bone1.jpg');

}

.ch-img-2 { 
	background-image: url('../Fotos/Gomos2.jpg');
}

.ch-img-3 { 
	background-image: url('../Fotos/Abareta3.jpg');
}

.ch-info {
	position: absolute;
	background: rgba(251, 251, 251, 0.924);
	width: inherit;
	height: inherit;
	border-radius: 100%;
	opacity: 0;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	-webkit-backface-visibility: hidden;

}

.ch-info h1 {
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 70px;
	margin: 0 30px;
	padding: 45px 0 0 0;
	height: 120px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px rgb(0, 0, 0), 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p{
	color: rgb(0, 0, 0);
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 20px;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	opacity: 0;
	-webkit-transition: all 0.9s ease-in-out 0.4s;
	-moz-transition: all 0.9s ease-in-out 0.4s;
	-o-transition: all 0.9s ease-in-out 0.4s;
	-ms-transition: all 0.9s ease-in-out 0.4s;
	transition: all 0.9s ease-in-out 0.4s;
}
.ch-info h4{
	margin-bottom: -35px;
	margin-top:50px;
}
.ch-info p a {
	display: block;
	color: rgb(0, 0, 0);
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #000000;
	color: rgba(8, 8, 0, 0.8)
}

.ch-item:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.ch-item:hover .ch-info p {
	opacity: 1;
}